section #galeria{
    display: flex;
    width: 80%;
    height: 50%;
    margin: auto;
  }
  section #galeria img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }
  section #galeria img:hover{
    cursor: pointer;
    width: 30%;
    opacity: 1;
    filter: contrast(120%);
    opacity: 0.2;
  }

